<h1>タスク一覧</h1>

<h3>今日やる作業</h3>
<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> :<%= task.status %> &gt; <%= task.content %></li>
  <% end %>
</ul>

<%= paginate @messages%>

<%= link_to 'タスクの追加', new_task_path %>